/* 
Spacing (px)
1 / 2 / 4 / 6 / 8 / 10 / 12 / 14 / 16 / 20 / 24 / 28 / 32 / 36 / 40 / 44 / 48 / 56 / 64 / 80 / 96 / 112 / 128 / 144 / 160 / 176 / 192 / 208 / 224 / 240 / 256 / 288 / 320 / 384

Typography
- font size (px)
12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 48 / 60 / 72 / 96 / 128

- letter spacing
  0.035em

- line height
  27px 
  18px 
  15px

- text color
  #525252 // Neutral-600
  #737373 // Neutral-500
  #a3a3a3 // Neutral-400

  #10b981 // Emerald-500
  #3b82f6 // Blue-500

Backgrounds
- background color
  #ffffff
  #fafafa // Zinc-50
  #f4f4f5 // Zinc-100

Borders
- border radius
  12px
  08px

Effects
- box shadow
  0 10px 15px -3px rgba(0, 0, 0, 0.1) // shadow-lg
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: #f4f4f5;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
